[Unit]
Description=MapProxy for OpenSeaMap
After=docker.service
Requires=docker.service
Wants=reverse-proxy.service

[Service]
Restart=always
KillMode=control-group
ExecStartPre=-/usr/bin/docker rm mapproxy-web
ExecStart=/usr/bin/docker run --name=mapproxy-web --detach=false --cpu-shares=512 \
    --memory=128M --publish=127.0.0.1::80 --rm=true \
    --env=VIRTUAL_HOST=mapproxy.* \
    --hostname=mapproxy-web \
    --cap-drop=NET_RAW  \
    -v /var/data/mapproxy:/mapproxy \
    openseamap/mapproxy-docker:latest
ExecReload=/usr/bin/docker pull openseamap/mapproxy-docker:latest

[Install]
WantedBy=multi-user.target
